{% extends "base.html" %}
{% load static %}

{% block title %}Inicio - Más Universidad, Más UTC{% endblock %}


{% block extra_head %}
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">
{% endblock %}


{% block content %}

<section class="hero">

    <div class="hero-left">
        <img src="{% static 'img/banner_piexclunlug_hr741.jpeg' %}" class="hero-img" alt="Banner UTC">

        <div class="hero-text">
            <h1>Más Universidad,<br>Más <span>UTC</span>!!!</h1>
            <p>Únete y Forma Tu Futuro!</p>
            <a href="{{ hero_link }}" target="_blank" class="hero-btn">Ver más </a>
            <a href="{% url 'about' %}" class="hero-btn btn-about"> Acerca de</a>
        </div>
    </div>

    <div class="hero-right"></div>

    <img src="{% static 'img/Alcon.png' %}" class="alcon-fixed" alt="Mascota UTC">

</section>

{% endblock %}